.paint_name {
  color: #fff;
  width: 15em;
}

.paint_color {
  padding-left: 25px;
}

.paint_status {
  opacity: 0.2;
}

.paint_status.active {
  opacity: 1.0;
}

.paint_status:hover {
  opacity: 1.0;
}

.dont_have {
  background-color: gray;
  width: 6em;
}

.have {
  background-color: green;
  width: 6em;
}

.need {
  background-color: red;
  width: 6em;
}

.out_of {
  background-color: yellow;
  width: 6em;
}

th {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16pt;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:nth-child(odd) {
  background-color: #555;
}
