.paint_name {
  color: #fff;
}

.paint_color {
  padding-left: 25px;
}

.paint_status.inactive {
  opacity: 0.2;
}

.paint_status.active {
  opacity: 1.0;
}

.paint_status:hover {
  opacity: 1.0;
}

th {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16pt;
}

tr:nth-child(even) {
  background-color: #444;
}

tr:nth-child(odd) {
  background-color: #555;
}
