<div class="container">
  <div class="row">
    <div class="col-md-2">
      <input class="form-control" ng-model="query.name" placeholder="Paint Name">
    </div>
    <div class="col-md-2">
      <select class="form-control"
              ng-model="brandFilter"
              ng-options="brand.name for brand in brands">
        <option value="">-- Brand --</option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="form-control"
              ng-model="rangeFilter"
              ng-options="range.name for range in paint_ranges | filter:{brand_id: brandFilter.id}">
        <option value="">-- Range --</option>
      </select>
    </div>
    <div class="col-md-2">
      <select class="form-control"
              ng-model="statusFilter"
              ng-options="status.name for status in status_keys">
              <option value="">-- Status --</option>
      </select>
    </div>
  </div>
  <table>
      <tr paint-listing ng-repeat="paint in results = (paints |
                                                       filter:query |
                                                       filter:{brand_id:brandFilter.id}:true |
                                                       filter:{range_id:rangeFilter.id}:true |
                                                       filter:{status:statusFilter.id}:true)
                                     | limitTo: list_page * paints_per_page - results.length | limitTo:paints_per_page">
    </tr>
  </table>
  <button class="btn btn-default" ng-click="list_page = list_page - 1" ng-disabled="list_page === 0">Prev</button>
  {{ list_page + 1 }}
  <button class="btn btn-default" ng-click="list_page = list_page + 1" ng-disabled="list_page >= (results.length / paints_per_page) - 1">Next</button>
</div>
