<th class="paint_color" style="background-color: {{ paint.color }}"></th>
<th class="paint_name">{{ paint.name }}</th>
<th class="paint_status"
  ng-class="{active: paint.status == 1}"
  ng-click="UpdatePaintStatus(paint, 1)"><button class="btn btn-default">Don't Have</button></th>
<th class="paint_status"
  ng-class="{active: paint.status == 2}"
  ng-click="UpdatePaintStatus(paint, 2)"><button class="btn btn-success">Have</button></th>
<th class="paint_status"
  ng-class="{active: paint.status == 3}"
  ng-click="UpdatePaintStatus(paint, 3)"><button class="btn btn-warning">Out Of</button></th>
<th class="paint_status"
  ng-class="{active: paint.status == 4}"
  ng-click="UpdatePaintStatus(paint, 4)"><button class="btn btn-danger">Need</button></th>
