<div class="container">
  <input ng-model="query.name">
  <select ng-model="brandFilter" ng-options="brand.name for brand in brands">
    <option value="">-- Brand --</option>
  </select>
  <select ng-model="rangeFilter"
          ng-options="range.name for range in paint_ranges | filter:{brand_id: brandFilter.id}">
    <option value="">-- Range --</option>
  </select>
  <select ng-model="statusFilter"
          ng-options="status.name for status in status_keys">
          <option value="">-- Status --</option>
  </select>
  <table>
    <tr>
      <th class="table_header"></th>
      <th class="table_header">Paint Name</th>
      <th class="table_header">Don't Have</th>
      <th class="table_header">Have</th>
      <th class="table_header">Out Of</th>
      <th class="table_header">Need</th>
    </tr>
      <tr paint-listing ng-repeat="paint in results = (paints |
                                                       filter:query |
                                                       filter:{brand_id:brandFilter.id}:true |
                                                       filter:{range_id:rangeFilter.id}:true |
                                                       filter:{status:statusFilter.id}:true)
                                     | limitTo: list_page * paints_per_page - results.length | limitTo:paints_per_page">
    </tr>
  </table>
  <button ng-click="list_page = list_page - 1" ng-disabled="list_page === 0">Prev</button>
  {{ list_page + 1 }}
  <button ng-click="list_page = list_page + 1" ng-disabled="list_page >= (results.length / paints_per_page) - 1">Next</button>
</div>
